# vscode
.vscode/settings.json

# connection strings
key_*.yaml
*_keys.yaml
key_*.yml
*_keys.yml
iot_keys.yaml


# cahce
devices/__pycache__/*
devices/__pycache__/camera.cpython-37.pyc

# image files:
*.jpg

# MQTT Keys
mqtt/mqtt_key.yaml


# Cofig files
linux_build/linux_aio_config.json
