{
  "azure": {
    "subscription_name": "Microsoft Work Account",
    "subscription_id": "5c043aac-3d88-43d5-aec8-cd02ee6c914a",
    "resource_group": "IoT-Operations",
    "location": "westus2",
    "cluster_name": "iot-ops-cluster",
    "namespace_name": "iot-operations-ns",
    "enable_arc_on_install": true,
    "deploy_iot_operations": false
  },
  "deployment": {
    "skip_system_update": false,
    "force_reinstall": false,
    "deployment_mode": "test",
    "deploy_opc_ua_bridge": false
  },
  "optional_tools": {
    "k9s": true,
    "mqtt-viewer": true,
    "ssh": true
  }
}
